networks:
  skynet:
    external: true

services:
  audiobookshelf:
    container_name: audiobookshelf
    image: ghcr.io/advplyr/audiobookshelf:latest
    hostname: audiobookshelf
    ports:
      - 13378:80
    volumes:
      - /media/media_ssd_2/Audiobooks:/audiobooks
      - /srv/docker/audiobookshelf/config:/config
      - /srv/docker/audiobookshelf/metadata:/metadata
    restart: unless-stopped
    networks:
      - skynet
    environment:
      - PUID=$UID
      - PGID=$GID