networks:
  skynet:
    external: true

services:
  plex:
    image: plexinc/pms-docker:latest
    container_name: plex
    hostname: plex
    networks:
      skynet:
        ipv4_address: 172.22.0.80
    ports:
      - 32400:32400/tcp
      - 1901:1900/udp
      - 32469:32469/tcp
    environment:
      - PLEX_UID=$UID
      - PLEX_GID=$GID
      - TZ=Europe/Bucharest
      - PLEX_CLAIM= #optional
      - ADVERTISE_IP="https://plex.bitica.online/"
    volumes:
      - /home/cristian/Repositories/plex/config:/config
      - /home/cristian/Repositories/plex/metadata:/metadata
      - /home/cristian/Repositories/plex/transcode:/transcode
      - /media/media_ssd_1:/media_ssd_1
      - /media/media_ssd_2:/media_ssd_2
    restart: unless-stopped
    devices:
      - /dev/dri:/dev/dri
