networks:
  skynet:
    external: true

services:
  plex:
    image: plexinc/pms-docker:latest
    container_name: plex
    hostname: plex
    networks:
      - skynet
    ports:
      - 32400:32400/tcp
      - 1901:1900/udp
      - 32469:32469/tcp
    environment:
      - PLEX_UID=1000
      - PLEX_GID=1000
      - TZ=Europe/Bucharest
      - PLEX_CLAIM= #optional
      - ADVERTISE_IP="https://plex.bitica.online/" 
    volumes:
      - /srv/docker/plex/config:/config
      - /srv/docker/plex/metadata:/metadata
      - /srv/docker/plex/transcode:/transcode
      - /media/media_ssd_1:/media_ssd_1
      - /media/media_ssd_2:/media_ssd_2
    restart: unless-stopped
    devices:
      - /dev/dri:/dev/dri
