networks:
  skynet:
    external: true


services:
  nextcloud-db:
    image: mariadb:11.4
    container_name: nextcloud-db
    hostname: nextcloud-db
    restart: unless-stopped
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    networks:
      - skynet
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /media/nextcloud/mariadb:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=$NEXTCLOUD_DB_ROOT_PASSWORD
      - MYSQL_PASSWORD=$NEXTCLOUD_DB_PASSWORD
      - MYSQL_DATABASE=$NEXTCLOUD_DB_NAME
      - MYSQL_USER=$NEXTCLOUD_DB_USER
      
  nextcloud:
    image: nextcloud:stable-apache
    container_name: nextcloud
    hostname: nextcloud
    restart: unless-stopped
    networks:
      - skynet
    ports:
      - 8080:80
    depends_on:
      - nextcloud-db
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /media/nextcloud/data:/var/www/html
    environment:
      - MYSQL_PASSWORD=$NEXTCLOUD_DB_PASSWORD
      - MYSQL_DATABASE=$NEXTCLOUD_DB_NAME
      - MYSQL_USER=$NEXTCLOUD_DB_USER
      - MYSQL_HOST=nextcloud-db
      - NEXTCLOUD_HOSTNAME=nextcloud  # same as hostname key
      - NEXTCLOUD_TRUSTED_DOMAINS=$NEXTCLOUD_TRUSTED_DOMAINS
      - APACHE_DISABLE_REWRITE_IP=1
      - TRUSTED_PROXIES=$NEXTCLOUD_TRUSTED_PROXIES
