---

networks:
  skynet:
    external: true

services:
  deluge:
    image: lscr.io/linuxserver/deluge:latest
    container_name: deluge
    hostname: deluge
    environment:
      - PUID=1000
      - PGID=1000
      - TZ='Europe/Bucharest'
      - DELUGE_LOGLEVEL=error #optional
    volumes:
      - /srv/docker/deluge/config:/config
      - /media/media_ssd_1:/media_ssd_1
      - /media/media_ssd_2:/media_ssd_2
    ports:
      - 8112:8112
      - 6881:6881
      - 6881:6881/udp
      - 58846:58846 #optional
    restart: unless-stopped
    networks:
      - skynet
