networks:
  skynet:
    external: true

services:
  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    hostname: jellyfin
    user: 1000:1000
    networks:
      - skynet
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /srv/docker/jellyfin/config:/config
      - /srv/docker/jellyfin/cache:/cache
      - type: bind
        source: /media/media_ssd_1
        target: /media_ssd_1
      - type: bind
        source: /media/media_ssd_2
        target: /media_ssd_2
      # Optional - extra fonts to be used during transcoding with subtitle burn-in
      - type: bind
        source: /usr/share/fonts
        target: /usr/local/share/fonts/custom
        read_only: true
    restart: 'unless-stopped'
    ports:
      - 8096:8096/tcp
      - 8920:8920/tcp
      - 7359:7359/udp
    devices:
      - /dev/dri:/dev/dri
    # Optional - alternative address used for autodiscovery
    # environment:
    #   - JELLYFIN_PublishedServerUrl=http://example.com
