
networks:
  skynet:
    external: true

services:
  ollama:
    image: ollama/ollama@sha256:7e672211886f8bd4448a98ed577e26c816b9e8b052112860564afaa2c105800e
    hostname: ollama
    container_name: ollama
    ports:
      - 11434:11434
    restart: unless-stopped
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - /media/Portable/Others/ollama:/root/.ollama
    networks:
      - skynet

  webui:
    image: ghcr.io/open-webui/open-webui:main
    ports:
      - 3000:8080
    hostname: webui
    container_name: webui
    restart: unless-stopped
    depends_on:
      - ollama
    environment:
      - OLLAMA_BASE_URL=http://ollama:11434
    volumes:
      - /home/cristian/Repositories/ai_assistant/webui-data:/app/backend/data
    networks:
      - skynet